<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.date_field :date, min: Date.today  %>
  </div>
   <div class="field">
    <%= f.label :event_start %><br>
    <%= f.time_field :time_start %>
  </div>
  <div class="field">
    <%= f.label :event_end %><br>
    <%= f.time_field :time_end %>
  </div>
   <div class="field">
    <%= f.label :workers %><br>
    <%= f.number_field :workers %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
