<p id="notice"><%= notice %></p>

<p>
  <strong>Workers:</strong>
  <%= @event.workers %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date.strftime("%B %-d") %>
</p>
<p>
  <strong>From:</strong>
  <%= @event.time_start.strftime("%l:%M%p") %>-<%= @event.time_end.strftime("%l:%M%p") %>
</p>
<p>  
  <strong>Workers:</strong>
  <% if @event.users %>
    <% @users.each do |user| %>
      <ol>
  	    <li><%=user.first_name %> <%=user.last_name %></li>
      </ol>
    <% end %>
  <% end %>
    <% if @event.users.exclude? current_user %>
	  <%= join_button %>
	<% end %>
</p>	

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
